<div class="toast toast-style" id="toasts-msg-delete" role="alert" aria-live="polite" aria-atomic="true"
    data-delay="5000">
    <div class="toast-header">
        <strong class="mr-auto"><i class="fas fa-exclamation-circle"></i> การแจ้งเตือน</strong>
        <small>Just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{toast_message}}
    </div>
</div>