<div class="card-body result-appointment">
    <div class="title">สรุปข้อมูลการนัดหมาย</div>
    <div class="detail-result">
        <div class="head-item">
            <div class="item">
                <div class="name"><i class="fas fa-barcode"></i> BARCODE</div>
                <div class="desc">10004995002966</div>
            </div>
            <div class="item">
                <div class="name"><i class="fas fa-cube"></i> สินค้า</div>
                <div class="desc">ตู้เย็น 2 ประตู 7.4 คิว<br>SAMSUNG</div>
            </div>
            <div class="item">
                <div class="name"><i class="fas fa-clock"></i> วันเวลาจัดส่ง</div>
                <div class="desc">
                    <div class="date">อ. 22/03/2563</div>
                    <div class="time">13:00 - 15:00น.</div>
                </div>
            </div>
        </div>
        <div class="body-item">
            <div class="head"><i class="fas fa-truck"></i> รายละเอียดการจัดส่ง</div>
            <div class="list-item-body">
                <div class="item">
                    <div class="topic">ประเภทการบริการ</div>
                    <div class="desc">ติดตั้ง</div>
                </div>
                <div class="item">
                    <div class="topic">สาขาจัดส่ง</div>
                    <div class="desc">พระราม2</div>
                </div>
                <div class="item">
                    <div class="topic">เบิกสินค้าจาก</div>
                    <div class="desc">DC(คลังหลัก)</div>
                </div>
                <div class="item">
                    <div class="topic">โซน</div>
                    <div class="desc">พระราม2-บางหว้า</div>
                </div>
                <div class="item">
                    <div class="topic">ประเภทการจัดส่ง</div>
                    <div class="desc">Same day</div>
                </div>
                <div class="item">
                    <div class="topic">พื้นที่จัดส่ง</div>
                    <div class="desc">บางหว้า เขตภาษีเจริญ กรุงเทพมหานคร 10160</div>
                </div>
                <div class="item">
                    <div class="topic">ค่าใช้จ่ายเพิ่มเติม</div>
                    <div class="desc">200 บาท</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-center mt-4">
        <a href="" class="btn-style fix-width theme2 m-3">ยืนยัน</a>
        <a href="" class="btn-style fix-width theme3 m-3">ย้อนกลับ</a>
    </div>
</div>