$width-breakpoints: (
        D: 1400px, //Desktop
        L: 1200px, //Laptop
        T: 992px, //Tablet
        M: 768px, //Mobile
        XS: 576px //Small Mobile
);
@mixin BREAKPOINT($breakpoint) {
  $width: map-get($width-breakpoints, $breakpoint);
  @if $width != null {
    @media screen and (max-width: $width) {
      @content;
    }
  } @else {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}