/*-------------------
- Fonts
-------------------*/
@font-face {
  font-family: 'DBHeaventv3_2';
  src: url('fonts/DBHeaventv3_2.eot');
  src: url('fonts/DBHeaventv3_2.eot') format('embedded-opentype'),
  url('fonts/DBHeaventv3_2.woff2') format('woff2'),
  url('fonts/DBHeaventv3_2.woff') format('woff'),
  url('fonts/DBHeaventv3_2.ttf') format('truetype'),
  url('fonts/DBHeaventv3_2.svg#DBHeaventv3_2') format('svg');
}

@font-face {
  font-family: 'DBHeaventMedv3_2';
  src: url('fonts/DBHeaventMedv3_2.eot');
  src: url('fonts/DBHeaventMedv3_2.eot') format('embedded-opentype'),
  url('fonts/DBHeaventMedv3_2.woff2') format('woff2'),
  url('fonts/DBHeaventMedv3_2.woff') format('woff'),
  url('fonts/DBHeaventMedv3_2.ttf') format('truetype'),
  url('fonts/DBHeaventMedv3_2.svg#DBHeaventMedv3_2') format('svg');
}

@font-face {
  font-family: 'DBHeaventBdv3_2';
  src: url('fonts/DBHeaventBdv3_2.eot');
  src: url('fonts/DBHeaventBdv3_2.eot') format('embedded-opentype'),
  url('fonts/DBHeaventBdv3_2.woff2') format('woff2'),
  url('fonts/DBHeaventBdv3_2.woff') format('woff'),
  url('fonts/DBHeaventBdv3_2.ttf') format('truetype'),
  url('fonts/DBHeaventBdv3_2.svg#DBHeaventBdv3_2') format('svg');
}

$color-theme: #4c1e65;
$color-theme2: #ee7203;
$color-font: #5a6b7f;
$color-font2: #a5a9ae;
$color-font3: #9d9d9c;
$color-font4: #44566c;
$bg-sidebar: #1f2935;
$bg-sidebar-inside: #15232e;
$success: #7ed321;

$item-corner: 5px;

