<div class="row text-center">
    <div class="col-sm-4 offset-sm-4">
        <h5>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h5>
    </div>
    <div class="col-sm-4 text-right">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)" (viewDateChange)="changeDate(viewDate)">
                <div class="information">Previous</div>
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)" (viewDateChange)="nowDate(viewDate)">
                <div class="information">Today</div>
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)" (viewDateChange)="changeDate(viewDate)">
                <div class="information">Next</div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="viewChange.emit(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="viewChange.emit(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Week
            </div>
            <div class="btn btn-primary" (click)="viewChange.emit(CalendarView.Day)"
                [class.active]="view === CalendarView.Day">
                Day
            </div>
        </div>
    </div> -->
</div>
<br />