<div>
  <nb-card>
    <nb-card-header>
      <div class="row ">
        <div class="col-12 col-sm-12 text-center">
          <h5>จอง Slot Booking</h5>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <!-- <div class="col-12 col-sm-2  offset-sm-1 ">
          สินค้า
        </div> -->
        <div class="col-12 col-sm-8 offset-sm-2 mainText">
          <mat-label class="information">สินค้า<span class="textRed">*</span></mat-label>
          <mat-form-field appearance="outline" class="example-full-width ">
            <input #pref_product type="text" matInput [formControl]="submit_data.product"
              [matAutocomplete]="auto_product" (keyup)="onKeyMainProduct($event)">
            <mat-autocomplete #auto_product="matAutocomplete" (optionSelected)="onSelectionChangeProduct($event)"
              [displayWith]="displayFn_product">
              <mat-option *ngFor="let item of filteredOptions_product | async" [value]="item">
                {{item.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submit_data.product.errors?.required">กรุณาระบุสินค้า</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-12 col-sm-2  offset-sm-1 ">
          ประเภทการจัดส่ง
        </div> -->
        <div class="col-12 col-sm-4  offset-sm-2 mainText">
          <mat-label class="information">ประเภทการจัดส่ง<span class="textRed">*</span></mat-label>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-select [formControl]="submit_data.delivery_type"
              (selectionChange)="onSelectionChangeDeliveryType($event)">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of select.delivery_type" [value]="item">
                {{item.nameEn}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submit_data.delivery_type.errors?.required">กรุณาระบุประเภทการจัดส่ง</mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-12 col-sm-2 ">
          ประเภทการบริการ
        </div> -->
        <div class="col-12 col-sm-4  mainText">
          <mat-label class="information">ประเภทการบริการ<span class="textRed">*</span></mat-label>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-select [formControl]="submit_data.service_type"
              (selectionChange)="onSelectionChangeServiceType($event)">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of select.service_type" [value]="item">
                {{item.serviceName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submit_data.service_type.errors?.required">กรุณาระบุประเภทการบริการ</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-12 col-sm-2  offset-sm-1 ">
          พื้นที่จัดส่ง
        </div> -->
        <div class="col-12 col-sm-8  offset-sm-2 mainText">
          <mat-label class="information">พื้นที่จัดส่ง<span class="textRed">*</span></mat-label>
          <mat-form-field appearance="outline" class="example-full-width ">
            <input #pref_delivery_address type="text" matInput [formControl]="submit_data.delivery_address"
              [matAutocomplete]="auto_delivery_address" (keyup)="onKeyMainDeliveryAddress($event)">
            <mat-autocomplete #auto_delivery_address="matAutocomplete"
              (optionSelected)="onSelectionChangeDeliveryAddress($event)" [displayWith]="displayFn_delivery_address">
              <mat-option *ngFor="let item of filteredOptions_delivery_address | async" [value]="item">
                {{item.nameLocal}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submit_data.delivery_address.errors?.required">กรุณาระบุพื้นที่จัดส่ง</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-12 col-sm-2  offset-sm-1 ">
          สาขาที่จัดส่ง
        </div> -->
        <div class="col-12 col-sm-4 offset-sm-2 mainText">
          <mat-label class="information">สาขาที่จัดส่ง<span class="textRed">*</span></mat-label>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-select [formControl]="submit_data.delivery_store"
              (selectionChange)="onSelectionChangeDeliveryStore($event)">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of select.delivery_store" [value]="item">
                {{item.placeNameLocal}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submit_data.delivery_store.errors?.required">กรุณาระบุสาขาที่จัดส่ง</mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-12 col-sm-2 ">
          <mat-checkbox [formControl]="submit_data.check_other_store"></mat-checkbox>
        </div> -->
        <div class="col-12 col-sm-4 mainText">
          <mat-checkbox [formControl]="submit_data.check_other_store" (change)="onChangeCheckOtherStore($event)">
          </mat-checkbox>
          <mat-label class="information">&nbsp;เบิกสินค้าจากสาขาอื่น</mat-label>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-select [formControl]="submit_data.other_store">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of  select.other_store" [value]="item">
                {{item.placeNameLocal}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-8 offset-sm-2">
          <mat-label class="information">&nbsp;ระบุโซน<span class="textRed">*</span></mat-label>
          <mat-error *ngIf="submit_data.zone_select.errors?.required && submit_data.click==true && select.zones.length!=0">
            กรุณาระบุโซน</mat-error>
          <div class="scroll-bar-y-radio">
            <mat-radio-group [formControl]="submit_data.zone_select" aria-labelledby="example-radio-group-label"
              class="example-radio-group">
              <mat-radio-button class="example-radio-button" *ngFor="let item of select.zones" [value]="item"
                (change)="onSelectZone($event)" (change)="map_geometry.getZone($event)">
                <div class="row-wrap">
                  {{item.zoneNameLocal}}
                </div>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row justify-content-sm-center mb-4" >
        <div class="size">
          <ngx-map-geometry-component #map_geometry></ngx-map-geometry-component>
        </div>
      </div>
      <div class="row justify-content-sm-center">
        <div class="col-12 col-sm-auto">
          <button nbButton fullWidth status="primary" (click)="create()"><i
              class="fas fa-pencil-alt"></i>&nbsp;แสดงรอบเวลาจัดส่ง</button>
        </div>
        <div class="col-12 col-sm-auto">
          <button nbButton fullWidth status="danger" (click)="reset()" (click)="map_geometry.hideMap()"><i
              class="fas fa-sync-alt"></i>&nbsp;เริ่มใหม่</button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>