<div>
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-12 col-sm-12 text-center">
          <h5>แสดงรอบเวลา Slot Booking</h5>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row mb-4"></div>
      <div class="row mb-2">
        <div class="col-12 col-sm-2 offset-sm-2 text-left">
          <mat-label class="information">สินค้า</mat-label>
        </div>
        <div class="col-12 col-sm-7">
          {{header.product}}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-sm-2 offset-sm-2 text-left">
          <mat-label class="information">พื้นที่จัดส่ง</mat-label>
        </div>
        <div class="col-12 col-sm-7">
          {{header.delivery_address}}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-sm-2 offset-sm-2 text-left">
          <mat-label class="information">สาขาที่จัดส่ง</mat-label>
        </div>
        <div class="col-12 col-sm-7">
          {{header.delivery_store}}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-sm-2 offset-sm-2 text-left">
          <mat-label class="information">เบิกสินค้าจากสาขา</mat-label>
        </div>
        <div class="col-12 col-sm-7">
          {{header.other_store}}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-sm-2 offset-sm-2 text-left">
          <mat-label class="information">โซน</mat-label>
        </div>
        <div class="col-12 col-sm-7">
          {{header.zone_select}}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-sm-2 offset-sm-2 text-left">
          <mat-label class="information">ประเภทการบริการ</mat-label>
        </div>
        <div class="col-12 col-sm-7">
          {{header.service_type}}
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-sm-2 offset-sm-2 text-left">
          <mat-label class="information">ประเภทการจัดส่ง</mat-label>
        </div>
        <div class="col-12 col-sm-7">
          {{header.delivery_type}}
        </div>
      </div>
      <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
      </mwl-demo-utils-calendar-header>

      <nb-card class="none-shadow " [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
        <ng-template #customCellTemplate let-day="day" let-locale="locale">
          <div class="cal-cell-top">

            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
          </div>
          <div class="cell-totals">
            <span *ngFor="let group of day.eventTitle; index as i" class="badge"
              [ngStyle]="{'background-color':  group[1] }">
              <div (click)="handleEvent('Clicked', day.events[i])">
                {{ group[0] }}
              </div>
            </span>
          </div>
        </ng-template>

        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
            [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" [cellTemplate]="customCellTemplate"
            (beforeViewRender)="beforeMonthViewRender($event)">
          </mwl-calendar-month-view>
        </div>
      </nb-card>


    </nb-card-body>
  </nb-card>
</div>