@import "../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}


tr:nth-child(even) {
  background-color: #f7f9fc;
}
table {
  width: 98%;
  margin: auto;
}
.mat-header-cell{
  text-align: center;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-elevation-z8 {    //scroll bar axis-x
  overflow-x: auto;
  width: 100%;
  box-shadow: none;
}
.nb-theme-default nb-accordion nb-accordion-item-header .expansion-indicator {
  color: white;
}
.example-full-width {
  width: 100%;
}

.labelSuccess{
  color: white;
  background-color: #00d68f;
  font-size: 90% !important;
  padding: 0.4em 0.6em !important;
}
.labelDanger{
  color: white;
  background-color: #ff3d71;
  font-size: 90% !important;
  padding: 0.4em 0.6em !important;
}
.labelWarning{
  color: white;
  background-color: #ffaa00;
  font-size: 90% !important;
  padding: 0.4em 0.6em !important;
}
.labelInfo{
  color: white;
  background-color: #0095ff;
  font-size: 89% !important;
  padding: 0.4em 0.6em !important;
}