<div>
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-12 col-sm-12 text-center">
          <h5>Slot Booking ทั้งหมด</h5>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-sm-3 offset-sm-8 mainText">
          <mat-form-field appearance="outline" class="example-full-width">
            <input matInput (keyup)="applyFilter($event)" placeholder="ค้นหาข้อมูล">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-1 padding">
          <a href="#/pages/slot-booking-add" class="btn-circle"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </nb-card-body>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="table.data_source" matSort>

        <ng-container matColumnDef="bookingNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCell width-5"> เลขที่การจอง </th>
          <td mat-cell *matCellDef="let row" class="bodyCell">
            <!-- <div>{{row.bookingNumber}}</div> -->
            <div>{{row.shipmentNumber}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="zoneName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCell"> เส้นทาง </th>
          <td mat-cell *matCellDef="let row" class="bodyCell">
            <div>{{row.zoneName}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCell width-7"> วันที่ </th>
          <td mat-cell *matCellDef="let row" class="bodyCell">
            <div>{{dateFormat(row.deliveryDate)}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryDateLabel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCell width-9"> รอบนัดหมาย </th>
          <td mat-cell *matCellDef="let row" class="bodyCell">
            <div>{{row.deliveryDateLabel}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="skuCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCell width-8"> SKU </th>
          <td mat-cell *matCellDef="let row" class="bodyCell">
            <div>{{row.skucode}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCell width-5"> สินค้าหลัก </th>
          <td mat-cell *matCellDef="let row" class="bodyCell">
            <div>{{row.productName}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="serviceName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCell width-5"> ประเภทบริการ </th>
          <td mat-cell *matCellDef="let row" class="bodyCell">
            <div>{{row.serviceName}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="shipmentUser">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCell width-5"> ผู้ทำการจอง </th>
          <td mat-cell *matCellDef="let row" class="bodyCell">
            <div>{{row.shipmentUser}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="timecount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCell width-5"> เวลา </th>
          <td mat-cell *matCellDef="let row; let i = index" class="bodyCell">
            <div *ngIf="row.min!='00'||row.sec!='00'">{{row.timecount}}</div>
            <div *ngIf="row.min=='00'&&row.sec=='00'">Time Up</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="headCell width-5"> </th>
          <td mat-cell *matCellDef="let row" class="bodyCell">
            <button id="btn_delete{{row.bookingDate}}" class="btn-action" nbButton status="danger"
              (click)="action_delete(row)">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="table.displayed_columns"></tr>
        <tr mat-row *matRowDef="let row; columns: table.displayed_columns;" align="center"></tr>
      </table>
    </div>
  </nb-card>
</div>