<h1>ผูก Slot Booking กับ POS Ticket</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="#">รายการนัดหมายส่งสินค้า</a></li>
        <li class="breadcrumb-item active" aria-current="page">เพิ่มการผูก Slot Booking กับ POS Ticket</li>
    </ol>
</nav>
<div class="progress-bar">
    <a href="" class="item-progress active">
        <div class="icon"><i class="fas fa-address-card"></i></div>
        <div class="name-item">ข้อมูลลูกค้า</div>
        <div class="desc">
            ระบุข้อมูลลูกค้า<br>และที่อยู่การจัดส่ง
        </div>
    </a>

    <a href="" class="item-progress ">
        <div class="icon"><i class="fas fa-calendar-plus"></i></div>
        <div class="name-item">POS Ticket</div>
        <div class="desc">
            เพิ่ม และจัดการ<br>POS Ticket
        </div>
    </a>

    <a href="" class="item-progress">
        <div class="icon"><i class="fas fa-calendar-check"></i></div>
        <div class="name-item">Slot booking</div>
        <div class="desc">
            ผูก POS กับ<br>Slot booking
        </div>
    </a>

    <a href="" class="item-progress">
        <div class="icon"><i class="fas fa-check-circle"></i></div>
        <div class="name-item">ยืนยันข้อมูล</div>
    </a>
</div>
<ngx-slot-pos-search-customer></ngx-slot-pos-search-customer>
